@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

/* * {
	box-sizing: border-box;
	#f3e0e2
}*/

body {
	background: rgb(252, 242, 225);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;

}

h3 {
	;
}

h1 {
	font-weight: bold;
	margin: 0;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 13px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 50%;
	border: 2px solid rgb(201, 173, 153);
	background-color: rgb(201, 173, 153);
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bold;
	padding: 12px 50px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.signupbtn:hover
{
	box-shadow: inset 0 0 0 100px #FFFFFF;
	color: black ;
	transition-duration: 0.1s;
}

.hhh
{
	text-align: left;
}

form {
	/*background-color: palegoldenrod;*/
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border-bottom: 50px;
	padding: 12px 15px;
	margin: 8px 0;
	width: 80%;
}

.circle {

	border-bottom: 6px;
	background-color: rgb(252, 242, 225);
	transition-duration: 1s;

}*/

.tandc {
	font-size: 12px;
	/* justify-content: center; */
	display: flex;
	align-items: center;
	margin-left: 10px;
	color: rgb(201, 173, 153);
}


.agreement
{
	display: grid;
	align-content: center;
	justify-content: center;
	justify-items: center;
}
input [type=checkbox]
{
	background-color: initial;
	cursor: default;
	appearance: auto;
	box-sizing: border-box;
	/*margin: 3px 3px 3px 4px;*/
	margin-left: 10px;
	/*justify-content: ;*/
	border: initial;
}

h6 {
	display: none;
	font-size: 0.67em;
	/*margin-block-start: 2.33em;
	margin-block-end: 2.33em;*/
	/*margin-inline-start: 0px;
	margin-inline-end: 0px;*/
	font-weight: bold;
}


.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	/*position: relative;*/
	overflow: hidden;
	/*width: 700px;*/
	/*justify-content: space-around;*/
	/*max-height: 400px;*/
}



/*.form-container {
	position: absolute;
	height: 100%;
}

.log-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}


.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
}


.overlay {
	background: #FF416C;
	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
}


.overlayright {
	right: 0;
}*/


.social-container {

}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
	box-shadow: 0 10px 35px rgba(0,0,0,0.10), 0 2px 5px rgba(0,0,0,0.10);
}

/*.signup {
	border-radius: 20px;
	border: 1px solid #FF416C;
	background-color: #FFFFFF;
	color: #FF416C;
	font-size: 13px;
	font-weight: bold;
	padding: 12px 50px;
	letter-spacing: 1px;
	text-transform: uppercase;
}*/

.social-container a:hover {
	background-color: rgb(252, 242, 225);
	transition-duration: 0.5s;
}

/*.col {
	max-width: 100%;
	border: 1px solid black;
	flex-basis: 0;
}

.row:after {
	display: table;
	clear: both;
}*/

.row {
	display: flex;
}

/* Create two equal columns that sits next to each other */
.col {
	flex: 50%;
	height: 500px;

}

/*.picture
{

	border-radius: 0px 10px 10px 0px;

}*/

@media only screen and (max-width: 500px) {
	.loginrightimage {

		display: none;
	}

}

