body
{
    height: 100vh;
}

.container
{
    justify-content: center;
    align-self: center;
    height: 100%;
}

.mtop
{
    margin-top: 7px;
}

.mtopp
{
    margin-top: 15px;
}

.mleft
{
    margin-left: 7px;
    margin-bottom: 10px;

}

@media only screen and(max-width: 992px) {
    .formname
    {
        font-size: 50px;
    }
    @media only screen and(max-width: 768px) {
        .formname
        {
            font-size: 30px;
        }
    }

    @media only screen and(max-width: 350px) {
        .formname
        {
            font-size: 15px;
        }
    }
    @media only screen and(max-width: 200px) {
        .formname
        {
            font-size: 10px;
        }
    }
}

@media only screen and(max-width: 576px) {
    .formname
    {
        font-size: 20px;
    }
}

/*.mandatory
{
    margin-bottom: none;
}*/